* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
#app {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

/* 分割线 */
.ant-divider-horizontal {
	margin: 2px 0;
}

/* 全屏模态框 */
.full-modal .ant-modal {
	max-width: 100%;
	top: 0;
	padding-bottom: 0;
	margin: 0;
}
.full-modal .ant-modal-content {
	display: flex;
	flex-direction: column;
	height: calc(100vh);
}
.full-modal .ant-modal-body {
	flex: 1;
}
